@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    /* background-image: url(bg.jpg); */
    /* background-repeat: no-repeat; */
    font-family: 'Roboto', sans-serif;
    color: white;
    /* width: 150%; */
    /* height: 150%; */
}
img{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
header{
    background-color: #e12e5b;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    font-weight: bolder;
}
form{
    /* margin: 100px; */
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.74);
    padding: 20px;
}


body, html {
    height: 100%;
  }
  
  